@model BookCreateViewModel

@{
  ViewBag.Title = "Book creation";
}

<h3 class="font-weight-normal my-3">Create a new book</h3>

<div class="row">
    <div class="col-lg-8">
        <form enctype="multipart/form-data" class="border rounded p-4 bg-light" asp-controller="book" asp-action="create" method="post">

            <div class="form-group form-row">
                <label class="col-sm-3 col-md-2 col-form-label mb-sm-0" asp-for="Title"></label>
                <div class="col-sm-9 col-md-10">
                    <input class="form-control" type="text" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="col-sm-3 col-md-2 col-form-label mb-sm-0" asp-for="Author"></label>
                <div class="col-sm-9 col-md-10">
                    <input class="form-control" type="text" asp-for="Author" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="col-sm-3 col-md-2 col-form-label mb-sm-0" asp-for="Price"></label>
                <div class="col-sm-9 col-md-10">
                    <input class="form-control" type="number" step="0.01" placeholder="0.0" asp-for="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="col-sm-3 col-md-2 col-form-label mb-sm-0" asp-for="Description"></label>
                <div class="col-sm-9 col-md-10">
                    <textarea class="form-control" asp-for="Description">
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-row">
                <label asp-for="Photo" class="col-sm-3 col-md-2 col-form-label mb-sm-0"></label>
                <div class="custom-file col-sm-9 col-md-10">
                    <input asp-for="Photo" class="custom-file-input" />
                    <label class="custom-file-label">Select a file</label>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger">Errors summary:</div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-row">
                <a asp-controller="book" asp-action="index" class="btn btn-secondary mr-1">Back to index</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <script src="~/js/displayFormFileName.js"></script>
}
