@{
    ViewBag.Title = "Not found";
}

<h3 class="text-danger font-weight-normal my-3">@ViewBag.ErrorMessage</h3>

<a asp-controller="Book" asp-action="Index" class="btn btn-secondary">Go to book index</a>